<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @album.user.email %>
</p>

<p>
  <strong>Photos:</strong>
  <div class="card" style="width: 18rem;">

 
 <% if @album.photos.attached? %>
 <% @album.photos.each do |photo|%>

  <%= image_tag photo %>
  <% end %>
  <%end%>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>



<h5>Crie sus albums </h5>

<div class="card" style="width: 18rem;">
 <% if @album.photos.attached? %>
 <% @album.photos.each do |photo|%>
    <%= image_tag photo, class:"img-fluid " %>
<% end %>  
<% end %>
  <div class="card-body">
  <h5 class="card-title"><%= @album.title %></h5>
    <p class="card-text"> <%= @album.description %> </p>
  </div>
</div>

<br>

<%= link_to 'Edit', edit_album_path(@album) %> 
<%= link_to 'Back', albums_path %>