<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @album.user %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @album.photo %>
</p>

<p>
  <strong>Estilos:</strong>
  <%= @album.estilos %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
