<h6>Reutilizar-Reduzir-Reciclar, Faca compras conciente, compre ropa usada, en buen estado y barata!<br>
  Tenha dicas de estilo todos os dias que vai te ajudar a se redescobrir se reiventar.
       </h6>
      
      <h5>Saiba mais sobre os 7 Estilos Universais</h5>
    <ul>
       <li><%=link_to 'Casual', 'https://www.google.com/search?q=estilos+casuales+para+mujeres&tbm=isch&ved=2ahUKEwimhPPuotnnAhVjMLkGHX20CBEQ2-cCegQIABAA&oq=estilos+casuales&gs_l=img.1.0.0l6j0i8i30l4.2707976.2711206..2714016...0.0..0.61.713.16......0....1..gws-wiz-img.......0i131j35i39j0i67.OdjXFa65zrU&ei=-eJKXuajI-Pg5OUP_eiiiAE&bih=892&biw=1685'%></li>

       <li><%=link_to 'Classico', 'https://www.google.com/search?q=estilos+classico+de+mujer&sxsrf=ACYBGNR5ir-k1zUG_8GWPmthJ-djgO6MAg:1581979000722&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj29oSD09nnAhXCu54KHQ8fBGkQ_AUoAXoECAwQAw&biw=1685&bih=892'%></li>

       <li><%=link_to 'Romantico', 'https://www.google.com/search?q=estilosromantico+de+mujer&tbm=isch&ved=2ahUKEwjXmt-E09nnAhUEK7kGHbsWAnoQ2-cCegQIABAA&oq=estilosromantico+de+mujer&gs_l=img.3...187098.189020..191047...0.0..0.200.1717.0j8j1......0....1..gws-wiz-img.lL3Hy_Be--A&ei=fBVLXtfsEYTW5OUPu62I0Ac&bih=892&biw=1685'%> </li>

       <li><%=link_to 'Contemporaneo', 'https://www.google.com/search?q=estilos+de+moda+Contemporaneo+de+mujer&tbm=isch&ved=2ahUKEwjnqbr709nnAhX6MLkGHcm1AuAQ2-cCegQIABAA&oq=eCasual
stilos+de+moda+Contemporaneo+de+mujer&gs_l=img.3...15309.18069..19363...0.0..0.344.1638.0j7j0j1......0....1..gws-wiz-img.iw2iQJGsByU&ei=dRZLXqebD_rh5OUPyeuKgA4&bih=892&biw=1685'%> </li>

       <li><%=link_to 'Sexy', 'https://www.google.com/search?q=mulheres+que+tem+estilo+de+roupa+sexy&tbm=isch&ved=2ahUKEwiqv9Sl1NnnAhXfA7kGHehfBOwQ2-cCegQIABAA&oq=mulheres+que+tem+estilo+de+roupa+sexy&gs_l=img.3...35158.47759..48339...3.0..0.226.7513.0j34j5......0....1..gws-wiz-img.....10..35i362i39j35i39j0j0i131j0i67j0i10.pltcBW7eQ2k&ei=zRZLXuqkLt-H5OUP6L-R4A4&bih=892&biw=1685'%></li>

       <li><%=link_to 'Criativo', 'https://www.google.com/search?q=mulheres+que+tem+estilo+de+roupa+criativo&tbm=isch&ved=2ahUKEwiT_Ybv1NnnAhVwALkGHeLGDlUQ2-cCegQIABAA&oq=mulheres+que+tem+estilo+de+roupa+criativo&gs_l=img.3..35i39.412441.414394..415370...0.0..0.272.1791.2-8......0....1..gws-wiz-img.A4I2z9evzLY&ei=ZxdLXtOtKfCA5OUP4o27qAU&bih=892&biw=1685'%></li>

       <li><%=link_to 'Dramatico urbano', 'https://www.google.com/search?q=mulheres+que+tem+estilo+de+roupa+dramatico+urbano&tbm=isch&ved=2ahUKEwjl3svV1NnnAhW0CdQKHRUNCr0Q2-cCegQIABAA&oq=mulheres+que+tem+estilo+de+roupa+dramatico+urbano&gs_l=img.3...39415.47556..51757...0.0..0.303.4651.0j21j2j1......0....1..gws-wiz-img.......35i39.vUvB9AHTlp4&ei=MhdLXuX9ELST0AaVmqjoCw&bih=892&biw=1685'%></li>
  </ul>
        
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://tudocommoda.com/wp-content/uploads/2016/04/Estilo-casual-v%C3%A1rios-looks-capa-1.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Casual</h5>
                <p class="card-text">Esta ligado a conforto,geralmente a mulher busca praticidade,descontracao e nao esta muito preocupada em ser uma fashionista,com aspectos simplificados e ràpidos, na maioria das vezes composta por pecas leves ou que sao faceis de combinar, como a calca jeans de lavagem simples.
                Da preferencia a cores neutras e tons claros para cambinar com o restante de seu guarda roupa.Listras e poas, pequenos desenhossao estampas que com certeza chamam sua atencao.Tecidos preferem algodao,linho,moletom,sarja,tecidos opacos e sem muita textura, assim transmite otimismo,naturalidade e leveza.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://www.oolhaisso.com/wp-content/uploads/2017/04/Estilo-pessoal-classico-ou-tradicional.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Classico</h5>
                <p class="card-text">Esta voltado a tradicionalidade,geralmente è uma mulher mais tradicional, reservada, profissional, centrada e focada.Gostam de pecas mas composta mais alinhadas,estruturadas,discretas,commodelagem retas suas cores prioritariamente sao tons claros, neutras e tons terrosos.Para estampas preferem risca de giz,escama de peixe e xadrez classico,prezam por tecidos de qualidade para serem duraveis,de alfaiataria, crepes ou texturizados como o tweed, esta mulher transmite sofisticacao e formalidade.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://allecordeiro.files.wordpress.com/2018/05/estilo-elegante-ou-contemporc3a2neo-1.png?w=1240" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Contemporaneo</h5>
                <p class="card-text">esta totalmente inspirado em modernidade, geralmente è moderna,antenada e eleganteè parecido com o aspecto do estilo classico,mas com um toque de tendencia que incluem modelagem,cores e tecidos è mais livre e seguem a cor ou estampas do momento, aceita tanto tons neutros com os mais vibrantes,dependendo da mulher.Gostam de tecidos de aspectos acetinado discreto,alfaiataria,sarja e malhas transmite autoconfianca, autoralidade, elegancia.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://www.oolhaisso.com/wp-content/uploads/2017/05/Estilo-pessoal_-como-se-vestir-no-estilo-romantico.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Romanico</h5>
                <p class="card-text">Delicadeza descreve este estilo geralmente trata se de uma mulher meiga,vaidosa e sensivel, gosta de loks alinhados e discretos, porem com toque retro,babados ou aplicacoes em perolas, amam tons pastel e estampas divertidas (dentro da paleta de cores).Seus tecidos sao estampados, chifon,malhas, rendas, plissados, guipure, seda, ela transmite feminilidade, cinate e agradavel.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

          <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://www.arianamagalhaes.com.br/wp-content/uploads/2018/06/Estilo-Sexy.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sexy</h5>
                <p class="card-text">Sensualidade a defini è ousada, confiante, segura e destemida,os loks mais justos, com recortes ou caimentos e modelagem que acentuam as curvas, que mostram as curvas, que mostram um pouco mas de pele.Suas cores e estampas na verdade todas as cores a caiem muito bem, mas em especial, preto e estampas animal print.Seus tecidos sao couro, paete, renda, chifon, seda e viscose, esta mulher transmite seguranca, poder, magnetismo e sensualidade.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://carolinafaggion.files.wordpress.com/2011/09/estilo-urbano-post.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Dramatico Urbano</h5>
                <p class="card-text">Tem que qu'e de rebeldia, sao originais e de personalidae forte, seguir as tendencias da moda nao è sua prioridade, geralmente sao looks com uma pegada mais street.Tem uma viès meio rocker e punk, mas nao è regra, amam e abusam do preto e os datalhes em metal, tanto nas pecas de roupas quantos nos acessorios, unhas e make.Adoram o couro, paete, renda, chifon, seda, viscose les gustam transmitir poder, seguranca, magnetismo e sensualidade.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://www.arianamagalhaes.com.br/wp-content/uploads/2018/04/Estilo-criativo.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Criativo</h5>
                <p class="card-text">Atualidade, è uma mulher livre que ama experimentar coisas novas, ama arte e faz de seus looks um brincadeira nada convencional, transitando entre todos os estilos.Encata se pelos coloridos/estampas, despretenciosos, volumosos e assimetricos, toda cor è bem vinda.Nao ha medo de arriscar.Estampas etnicas sao sempre a encaixe perfeito para este estilo, quanto mais mix de tecidos melhor, transmite autenticidade, inspiracao e libertade.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        </div>
