<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<%= form_with(model: @product, local: true) do |f| %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div><br>

<div>
  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %>
</div>

<div>
  <%= f.file_field :image %>
</div><br>

  <div>
  <%= f.submit "Guardar" %>
 </div>

<% end %>